header{
    display: flex;
    height: 90px;
    background-color: orange;
    width: 100%;
}
#navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px;
}
i{
    color: rgb(247, 216, 159);    
    justify-content: flex-start;
}
#nav_list{
    display: flex;
    width: 70%;
    justify-content: space-between;
    list-style: none;
}
.nav-item{
    /* background-color: red; */
    padding: 10px;
}
.nav-link{
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
}
.nav-link:hover{
    color: black;
}
